* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body { 
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background: rgb(83, 200, 220);
}



#titulo {
    font-size: 40px;
    margin-top: -100px;
    color: rgb(255, 42, 0);
    position: relative;
    top: -15vh;
    left: -9vh;
}

.campo {
    margin: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: -80vh;
    width: 20vh;
    top: -10vh;
    height: 10vh;
    border-radius: 3rem;
    font-size: 42px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
}
/*
.letra {
    margin: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    top: 10vh;
    left: -130vh;
    height: 10vh;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
*/

.letras {
    position: fixed;
    top: 47vh;
    width: 450px;
    height: 24px;
    left: 23vh;
}

.SantaOff {
    position: fixed;
    top: 7vh;
    width: 650px;
    height: 600px;
    left: 110vh;
    background-image: url("../img/papaNoel.png");
    background-repeat: no-repeat;

}

.SantaOff.on {
    background-image: url("../img/papaNoel.gif");
    background-repeat: no-repeat;
}

#play{
    color: rgb(87, 86, 86);
    position: fixed;
    top: 57vh;
    left: 45vh;
    width: 15vh;
    height: 10vh;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    background-color: rgb(73, 44, 44);
}
#pause{
    color: rgb(87, 86, 86);
    position: fixed;
    top: 57vh;
    left: 62vh;
    width: 15vh;
    height: 10vh;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    background-color: rgb(73, 44, 44);
}

h1{
    position: relative;
    top:200px;
    left:350px;
}

.esti{
    position: relative;
    top:210px;
    left: 240px;
} 


#pause.on {
    background-color: rgb(255, 42, 0);
    color: rgb(247, 242, 240);
    cursor: pointer;
}

#play.on {
    background-color: rgb(255, 42, 0);
    color: rgb(247, 242, 240);
    cursor: pointer;
}

#pause:hover.on {
    background-color: rgb(3, 187, 233);
    color: rgb(247, 242, 240);
}

#play:hover.on {
    background-color: rgb(3, 187, 233);
    color: rgb(247, 242, 240);
}